
{{#if session.storyInventory}}
    {{#if required_item}}
        {{#contains session.storyInventory required_item}}
            <a href="/branch/{{next_branch}}/" class="choice hidden">
                <div>
                    {{choice_text}} REQUIRED ITEM FOUND
                </div>
            </a>
        {{else}}
            <a href="/branch/{{fail_branch}}/" class="choice hidden">
                <div>
                    {{choice_text}} REQUIRED ITEM NOT FOUND
                </div>
            </a>
        {{/contains}}
    {{/if}}
{{else}}
    <a href="/branch/{{next_branch}}/" class="choice hidden">
        <div>
            {{choice_text}}
        </div>
    </a>
{{/if}}



