

<nav class="navbar navbar-expand-lg" style="padding-top: 0;" >
  <div class="container-fluid " >
    <a class="navbar-brand" href="/"><div>Loom</div></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #66ff00; color: #404140; ">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse flex-column" id="navbarToggler" style="align-items: end">
      <ul class="navbar-nav" style="width: inherit;">
        <li class="nav-item">
        {{#if session.loggedIn}}
        {{#if session.branchData}}
          <a class="nav-link active" href="/branch/{{id}}"><div>{{censor session.branchData.branch_title}}</div></a>
        {{else}}
          <a class="nav-link active" href="/"><div>{{censor session.author_name}}</div></a>
        {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><div>Home</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/logout"><div>Logout</div></a>
        </li>
      </ul>
    </div>

    {{else}}
    <a href="#" id="signupButton" data-bs-toggle="modal" data-bs-target="#newUserModal"><div>Sign Up</div></a>
      </div>
    </nav>

    
    <form class="d-flex flex-wrap sign-in-form" action="/user/login" method="post" >
      <div class="input-group d-flex flex-wrap">
          <input type="text" name="email" id="userFormEmail" class="form-control" placeholder="email" />
          <input type="password" name="password" id="userFormPassword" class="form-control" placeholder="Password" />
          <input type="submit" class="form-control" value="Login" />
      </div>
    </form>
    
    
    {{/if}}    
  </div>
</nav>