
    {{> header}}

    <input type="hidden" id="storyID" value="{{session.branchData.story_id}}"/>



    <div class="scrollable-content">
        
        <div class="passage" data-type-text="{{session.branchData.branch_content}}"></div>
        <input type="hidden" class="storyID" id="storyTitle" value="{{session.branchData.story_id}}"/>

    </div>

    <div>
        {{log session.storyInventory}}
        {{#each session.branchData.choices}}
            
            {{#if this.required_item}}
                {{#contains ../session.storyInventory this.required_item}}
                    {{> choice this}}
                {{else}}
                    {{> failChoice this}}
                {{/contains}}
            {{else}}
                {{> choice this}}
            {{/if}}
        {{/each}}

        {{#if session.branchData.end_here}}
        <div style="text-align: center;" class="choice hidden">Game Over</div>
        <a href="/" class="choice hidden"><div style="text-align: center;">Try Again</div></a>
        {{else}}
        {{#maximum session.branchData.choices 3}}
        <a href="#" id="newChoiceButton" class="options hidden" data-bs-toggle="modal" data-bs-target="#newBranchModal">
            <div>Create Choice</div>
        </a>
        {{/maximum}}
        {{/if}}

        {{#each session.storyInventory}}
            <input class="inventoryItem" type="hidden" value="{{this}}">
        {{/each}}

    </div>

    {{> footer}}



  