<input type="hidden" id="storyID" value="{{session.branchData.story_id}}"/>

        {{#each session.branchData.choices}}
            {{#if this.required_item}}
                {{#if session.storyInventory}}
                    {{#if (contains session.storyInventory this.requiredItem)}}
                    <input type="hidden" class="choiceData" value="{{this.choice_text}}">
                {{/if}}
            {{/if}}
        {{else}}
                <input type="hidden" class="choiceData" value="{{this.choice_text}}">
            {{/if}}
        {{/each}}

<div class="inventory-box">
    <ul>
        {{#each session.storyInventory}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<div class="scrollable-content">
<div >
    <div class="passage title">{{session.branchData.branch_title}}</div>
    <div class="passage" data-type-text="{{session.branchData.branch_content}}" style="overflow-y: auto;"></div>
    <input type="hidden" class="storyID" id="storyTitle" value="{{session.branchData.story_id}}"/>

    <div>

        {{#each session.branchData.choices}}
        {{#if this.required_item}}
        {{#if session.storyInventory}}
        {{#if (contains session.storyInventory this.requiredItem)}}
        {{> choice this}}
        {{/if}}
        {{/if}}
        {{else}}
        {{> choice this}}
        {{/if}}
        {{/each}}

        {{#if session.branchData.end_here }}
        <div class="passage" style="text-align: center;">Game Over</div>
        {{else}}
        {{#unless (compare session.branchData.choices.length 3)}}
        <a href="#" id="newChoiceButton" class="choice hidden">
            <div>Create Choice</div>
        </a>
        {{/unless}}
        {{/if}}
    </div>

</div>
</div>