
  <div class="crt">
    {{> header}}

    <input type="hidden" id="storyID" value="{{session.branchData.story_id}}"/>

        {{#each session.branchData.choices}}
            {{#if this.required_item}}
                {{#if session.storyInventory}}
                    {{#if (contains session.storyInventory this.requiredItem)}}
                    <input type="hidden" class="choiceData" value="{{this.choice_text}}">
                {{/if}}
            {{/if}}
        {{else}}
                <input type="hidden" class="choiceData" value="{{this.choice_text}}">
            {{/if}}
        {{/each}}

    {{#if session.storyInventory}}
        <div class="inventory-box">
            <ul>
                {{#each session.storyInventory}}
                    <li>{{this}}</li>
                    
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <div class="scrollable-content">

        <div class="title">{{session.branchData.branch_title}}</div>
        <div class="passage" data-type-text="{{session.branchData.branch_content}}"></div>
        <input type="hidden" class="storyID" id="storyTitle" value="{{session.branchData.story_id}}"/>

    </div>

    <div>

        {{#each session.branchData.choices}}
            {{> choice this}}
        {{/each}}

        {{#if session.branchData.end_here}}
        <div style="text-align: center;" class="choice hidden">Game Over</div>
        <a href="/" class="choice hidden"><div style="text-align: center;">Try Again</div></a>
        {{else}}
        {{#maximum session.branchData.choices 3}}
        <a href="#" id="newChoiceButton" class="choice hidden" data-bs-toggle="modal" data-bs-target="#newBranchModal">
            <div>Create Choice</div>
        </a>
        {{/maximum}}
        {{/if}}

    </div>

    {{> footer}}
  </div>

  <div class="modal fade" id="newBranchModal" tabindex="-1" role="dialog" aria-labelledby="newBranchModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBranchModalCenterTitle">New Story Branch</h5>
        <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <input type="text" class="form-control" name="choice_text" id="choice_text" placeholder="choice text" required autocomplete="off"/>



        {{#if session.storyInventory}}
        <label for="required_item">uses item:</label>
        <select 
            class="form-control" 
            name="required_item" 
            id="required_item" 
            placeholder="required item"
            autocomplete="off"
            > 
        <option value="null">no</option> 
        {{#each session.storyInventory}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <div class="hidden" id="removeItemOption">
        <input type="checkbox" name="remove_item" id="remove_item" />
        <label for="remove_item">remove/destroy item?</label>
        </div>
        {{/if}}

        {{#if session.branchHistory}}
        <label for="use_old_branch">go to branch:</label>
        <select 
            class="form-control" 
            name="use_old_branch" 
            id="use_old_branch" 
            placeholder="use existing branch"
            autocomplete="off"
            > 
        <option value="null">no</option> 
        {{#session.branchHistory}}
        {{#each this}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/session.branchHistory}}
        </select>
        {{/if}}

        <div id="writeNewBranchOption">
          <input type="text" class="form-control" name="next_branch_title" id="next_branch_title" placeholder="next branch title" required autocomplete="off"/>
          <textarea class="form-control" name="next_branch_content" id="next_branch_content" placeholder="next branch content" rows="5" required autocomplete="off"/></textarea>
          <input type="text" class="form-control" name="received_item" id="received_item" placeholder="optional received item" autocomplete="off"/>
          <input type="checkbox" name="end_here" id="end_here" />
          <label for="end_here">Game over?</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNewBranch">Save changes</button>
      </div>
    </div>
  </div>
</div>